# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# =========================
# Virtual Environment
# =========================
.venv/
venv/
ENV/

# =========================
# Django
# =========================
*.sqlite3
db.sqlite3
media/
staticfiles/

# Django migrations cache
**/migrations/__pycache__/

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
debug.log
logs/

# =========================
# Test / coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Node (if used later)
# =========================
node_modules/
